* {
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

#mydiv {
    width: 30%;
    border-style: solid;
    background-color: lightsalmon;
}

#mydiv1 {
    margin-top: 30px;
    width: 25%;
    border-style: solid;
    margin-left: 80px;
}

#mydiv2 {
    display: flex;
    width: 35%;
    margin-top: 30px;
    margin-left: 200px;
    border-style: solid;
    background-color: powderblue;
}

#f2 {
    width: 60%;
}

#f3 {
    width: 40%;
    margin-top: 50px;
    margin-left: 10px;
}