@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body {
    font-family: 'Poiret One', cursive;
    overflow: hidden;
    background: conic-gradient(from -90deg at 25% 115%, #ff0000, #ff0066, #ff00cc, #cc00ff, #6600ff, #0000ff, #0000ff, #0000ff, #0000ff);
}

.container {
    border: 1px solid black;
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digitalclock {
    border: 1px solid black;
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: #ffffff;
    background: lightgrey;
}

.digitalclock h1 {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    font-size: 5rem;
    /* 16px means 1rem */
}

@media(max-width:768px) {
    #bar1,
    #bar2 {
        display: none;
    }
    .digitalclock {
        text-align: center;
        width: 100%;
    }
    .digitalclock h1 {
        display: block;
    }
}

@media(max-width:480px) {
    .digitalclock h1 {
        font-size: 4rem;
    }
}